header {
     width: 95%;
     height: 100px;
     padding-left: 30px;
     padding-right: 30px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     color: blue;

}

h1 {
     font-size: 20px;
}

ul {
     list-style: none;
     display: flex;
}

ul li a {
     padding: 10px 20px;
     text-decoration: none;
     font-size: 15px;
}
main {
     max-width: 1500px;
     min-width: 1000px;
     position: relative;

}


img {
     top: 120px;
     width: 50%;
     display: block;
     margin-left: auto;

}
.title-text  {
     font-size: 4vw;
     font-weight: lighter;
     position: absolute;
     display: inline;
     padding-bottom: 0px;
     text-align: right;
     bottom: 60px;
     margin: 0;
}

.blue-box {
     background-color: rgb(4, 4, 107);
     width: 800px;
     height: 130px;
     position: absolute;
     margin-left: 0;
     margin-right: auto;
     bottom: -50px;
     z-index: -1;
}